n8n/ConceptInsight.json
{
  "name": "ConceptInsight",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -192,
        -208
      ],
      "id": "1502ce3d-a4b4-45ef-a852-bfa4f08d6f2f",
      "name": "When chat message received",
      "webhookId": "61b07897-8512-4b62-8163-ed341455498c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ccdc2abe-3555-43e1-b325-681e9e08a8cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-oss:20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        96,
        272
      ],
      "id": "199c48af-5eb6-4b82-800d-a6fff9cdf692",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "zWFwVqojeoVQfxRp",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://host.docker.internal:8080/mcp",
        "serverTransport": "httpStreamable"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        576,
        256
      ],
      "id": "2f0b9e6e-4c8e-4bf8-9012-416a21eb289e",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoke-n8n-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -144,
        0
      ],
      "id": "a4893e64-16ae-49a1-98d9-81c3681ed310",
      "name": "Webhook",
      "webhookId": "251c016c-7782-45cc-a460-b747aa81426c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        576,
        0
      ],
      "id": "16c03749-716e-47b0-93f3-e5d505404af3",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "909a4b68-c017-4ac3-9d7a-725c99e2900b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "68e730e030dab9fd20608a2a250c7383534ec9870270cdba9e126bd75d79afa2"
  },
  "id": "zrgVXe5W3U7hPI1o",
  "tags": []
}